@import "tailwind";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --background-color-light: #ffffff;
    --text-color-light: #151515;
    --background-color-dark: #151515;
    --text-color-dark: #ffffff;
    --background-color-light-body: #f7fafc;
    --background-color-dark-body: #151515;
    --text-color-btn-dark: #ffffff;
    --text-color-btn-light: #6d727a;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--background-color-body);
    color: var(--text-color);
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color-btn);
}

aside {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    color: var(--text-color-btn);
}

.dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --background-color-body: var(--background-color-dark-body);
    --text-color-btn: var(--text-color-btn-dark);

    footer img {
        background: #ffffff;
        border-radius: 50%;
    }

    .sidebar__item {
        &:hover {
            color: #151515;
        }
    }

    .transaction__item--colored {
        color: #151515;
    }

    .icon svg path {
        stroke: #6d727a;
    }

    .icon-fill svg path {
        fill: #6d727a;
    }
}

.light-theme {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --background-color-body: var(--background-color-light-body);
    --text-color-btn: var(--text-color-btn-light);
}

#app {
    text-align: center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 1299px) {
    .mobile {
        display: none;
    }

    .table-item {
        width: 50%;


        &--text-end {
            text-align: end;
        }
    }
}

@media (max-width: 599px) {
    .table-item {
        font-size: 13px;
        padding-left: .5rem;
        padding-right: .5rem;
        white-space: nowrap;
    }
}